.everything {}


/* CITATION: .noselect class found at https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }

#gameScreen {
    display: grid;
    grid-template-columns: 1fr, 5fr, 1fr;
    grid-template-rows: 1fr, 5fr, 3fr;
}

.button{
  border-radius: 10px;
  width: 50px;
  text-align: center;
  cursor: pointer;
  font-size: 14pt;
  background-color: #3C3C3C;
}

#gameIntro {
  position: absolute;
  z-index: 12;
  width: 400px;
  height: 400px;
  left: 50%;
  top: 50%;
  background-color: #252526;
  color: #7F1331;
  text-align: center;
}

#gameEvilOutro {
  position: absolute;
  z-index: 11;
  width: 400px;
  height: 400px;
  top: 200px;
  left: 500px;
  background-color: #252526;
  color: #7F1331;
  display: none;
}

#gameGoodOutro {
  position: absolute;
  z-index: 10;
  width: 400px;
  height: 400px;
  top: 200px;
  left: 500px;
  background-color: #e1e1ff;
  color: #1b62e6;
  display: none;
}

.container {
    grid-column: 2 /3;
    grid-row: 2/ 3;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0;
    color: black;
    background-color: blueviolet;
    margin: auto;
    max-width: 500px;
    cursor: pointer;
}



.container div {
    display: flex;
  background-color: rgb(218, 211, 211);
  border-color: black;
  border: solid;
  border-width: thin;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  
 
}

.startPoint{}

.endPoint{}

.creatureOutput{}

.victimOutput{}

.selectionLine{}

#victimBox {
  text-align: center;
  grid-column: 3 / 4 ;
  grid-row: 1 / 4;

  /* HARSH BURGUNDY WRITING */

}

#secretBox {

  text-align: center;
  grid-column: 1 / 2 ;
  grid-row: 1 / 4;
  color: #0078CF;

  /* angelic font */
}

#messageBoxOne {

/* HARSH BURGUNDY WRITING */

}

#messageBoxTwo {

/* HARSH BURGUNDY WRITING */

}

#youWinBox {

/* BOLD. REDOLENT OF OUIJA BOARD */

}

