* {
  margin:0;
  padding:0;
}


/* CITATION: .noselect class found at https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
/* CITATION: "Crazy Killer" font- http://www.fontemporium.com/ */
.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }

html, body {
  height: 100%;
  margin:0;
  background-color: #636366;
}

body{
  position: relative;

}

#gameScreen {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 2fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  background-color: #c0c0c4;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}

.button{
  border-radius: 10px;
  width: 50px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  font-size: 14pt;
  background-color: #3C3C3C;
  margin: auto;
  padding: auto;
}

.startMessage {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  z-index: 12;
  width: 500px;
  height: 500px;
  background-color: #252526;
  color: #7F1331;
  text-align: center;
  grid-column: 3 / 4;
  grid-row: 2/ 3;
  border-radius: 5px;
  margin: auto;
  
}

#GameIntroMessage {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: center;
  margin: auto;
  padding: 5px;
}

#btnStart {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  text-align: center;
  margin: auto;
  width: 150px;
  height: 50px;
  font-size: 30pt;
}

#gameEvilOutro {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  z-index: 15;
  width: 500px;
  height: 500px;
  background-color: #252526;
  color: #7F1331;
  text-align: center;
  grid-column: 3 / 4;
  grid-row: 2/ 3;
  border-radius: 5px;
  margin: auto;
  visibility: hidden;
}

#gameEvilOutroMessage {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: center;
  margin: auto;
  padding: 5px;
}

#evilYouWin {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

#btnReplay {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  margin: auto;
  width: 150px;
  height: 100px;
  font-size: 30pt;

}

#gameGoodOutro {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  z-index: 16;
  width: 500px;
  height: 500px;
  background-color: #252526;
  color: #7F1331;
  text-align: center;
  grid-column: 3 / 4;
  grid-row: 2/ 3;
  border-radius: 5px;
  margin: auto;
  color: #0078CF;
  background-color: #ebebf5;
  visibility: hidden;
}

#GameGoodOutroMessage {
  grid-column: 2 / 3 ;
  grid-row: 2 / 3 ;
  margin: auto;
}

#goodYouWin {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin: auto;
}

#goodBtnReplay {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  margin: auto;
  width: 150px;
  height: 100px;
  font-size: 30pt;
  background-color: #c0c0c4;
}

.evilEndMessage {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-column: 3 / 4;
  grid-row: 2/ 3;
}

.container {
    grid-column: 3 / 4;
    grid-row: 2/ 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0;
    margin: auto;
    max-width: 600px;
    cursor: pointer;
}

.container div {
    display: flex;
  background-color: #afafb3;
  border-color: black;
  border: solid;
  border-width: thin;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  
 
}

#gameGrid {
  min-width: 500px;

}

/* .letter {
  background-color: #3C4044;
} */

#instructions {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  text-align: center;
  color: #7F1331;
  font-weight: bold;
  font-size: 20pt;
  font-family: "Arno Pro";
  font-style: italic;
}


#victimBox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  grid-column: 4 / 5 ;
  grid-row: 2 / 3;
  color: #7F1331;
  font-weight: bold;
  font-size: 20pt;
  font-family: "Arno Pro";
  font-style: italic;
  


  /* HARSH BURGUNDY WRITING */

}

.secretBox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  grid-column: 2 / 3 ;
  grid-row: 2 / 3;
  color: #0078CF;
  font-weight: bold;
  font-size: 20pt;
  font-family: "Arno Pro";
  font-style: italic;

  /* angelic font */
}

