.everything {}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0;
    color: black;
    background-color: blueviolet;
    margin: auto;
    max-width: 500px;
}  

.container div {
    display: flex;
  background-color: rgb(218, 211, 211);
  border-color: black;
  border: solid;
  border-width: thin;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  
 
}

.creatureOutput{}

.victimOutput{}



#wordGrid {

/* BOLD. REDOLENT OF OUIJA BOARD */

}

#secretBox {

/* GENTLE BLUE SCRIPT */

}

#victimNameBox {

/* HARSH BURGUNDY WRITING */

}

#messageBoxOne {

/* HARSH BURGUNDY WRITING */

}

#messageBoxTwo {

/* HARSH BURGUNDY WRITING */

}

#youWinBox {

/* BOLD. REDOLENT OF OUIJA BOARD */

}

